In [1]:
%pip install pandas
%pip install pymongo

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymongo in /opt/conda/lib/python3.11/site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.11/site-packages (from pymongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

Ejercicio 1 - Contar los perfiles por cada localizacion

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pymongo import MongoClient
import pandas as pd

# Crea una SparkSession
spark = SparkSession.builder \
    .appName("MongoSparkConnector2") \
    .getOrCreate()

# Conecta a MongoDB usando pymongo
client = MongoClient("mongodb://172.17.0.3:27017/")
db = client['docker']
collection = db['perfilesmongo']

# Extrae los datos desde MongoDB
mongo_data = list(collection.find())

#print(mongo_data)

# Convierte los datos a un DataFrame de pandas
pdf = pd.DataFrame(mongo_data)

# Elimina la columna '_id' si es necesario, ya que no es serializable por defecto en Spark
if '_id' in pdf.columns:
    pdf = pdf.drop(columns=['_id'])

# Convierte el DataFrame de pandas a un DataFrame de Spark
df = spark.createDataFrame(pdf)

# Convertir el DataFrame a un RDD
rdd = df.rdd
print(pdf)
df.show()

                                      urn_id    distance  \
0    ACoAABfP5yoB_mCUtKbDGFMZpw4uyBh0llSBG8g  DISTANCE_3
1    ACoAABEyB1cBi8Hx8XjUDICh4TowjBbiD2SFiFA  DISTANCE_3
2    ACoAAAgplloBjV70InE9j_WwlzQMNi1bw33x7J4  DISTANCE_3
3    ACoAACWrb4oBZzjbqTDqQdQIAwiwPBwhdc5UwJA  DISTANCE_3
4    ACoAAD6-p2EBFblr1q0LNkibdmgHLGMeBMGPVwk  DISTANCE_3
..                                       ...         ...
381  ACoAAB9h0gUB9LZBo4HXPNvhmtcqWEuhIWI3vnY  DISTANCE_3
382  ACoAACkRHcMBH5h3ZgBDcX-NksGIh-ms1-1APeM  DISTANCE_3
383  ACoAACqyop8BDZxbaP0we3QqDVUcjA3eGqAAEos  DISTANCE_3
384  ACoAAAtrYpsBpxyX9lHw58GEn3aZEmwu5sH02Ek  DISTANCE_3
385  ACoAAARAwLQB0-bLLVfFGjgvgETr2AqpU8tTNkE  DISTANCE_3

                                              jobtitle  \
0    Data Analyst | MBA | Industrial Engineer | Pyt...
1    Frontend Developer Junior (MERN) | Javascript ...
2                                DBA DB2 LUW y MongoDB
3              MongoDB Tech lead & Consulting Engineer
4    Full Stack Developer | JavaScript | NodeJS | R...
..                                                 ...
381              CTO | Software Engineering | Startups
382                                  Backend Developer
383                                  Software Engineer
384                Data Scientist | Data Analyst | MBA
385                                      Data Engineer

                             location                        name
0                               Spain       Nicolás M. Stambolsky
1                              Madrid         Sofía Gómez Barcala
2                              Madrid      Juan Manuel Pérez Moya
3                              Getafe  Gonzalo Paniagua Racionero
4                              Madrid   Óscar Luis Nicolás Bocero
..                                ...                         ...
381  Greater Madrid Metropolitan Area    Aitor Álvarez Berazaluce
382  Greater Madrid Metropolitan Area            Daniel Domínguez
383                            Madrid      Yannia Gastón González
384                            Madrid                 Juanjo Cano
385                            Madrid        David López González

[386 rows x 5 columns]
+--------------------+----------+--------------------+--------------------+--------------------+
|              urn_id|  distance|            jobtitle|            location|                name|
+--------------------+----------+--------------------+--------------------+--------------------+
|ACoAABfP5yoB_mCUt...|DISTANCE_3|Data Analyst | MB...|               Spain|Nicolás M. Stambo...|
|ACoAABEyB1cBi8Hx8...|DISTANCE_3|Frontend Develope...|              Madrid| Sofía Gómez Barcala|
|ACoAAAgplloBjV70I...|DISTANCE_3|DBA DB2 LUW y Mon...|              Madrid|Juan Manuel Pérez...|
|ACoAACWrb4oBZzjbq...|DISTANCE_3|MongoDB Tech lead...|              Getafe|Gonzalo Paniagua ...|
|ACoAAD6-p2EBFblr1...|DISTANCE_3|Full Stack Develo...|              Madrid|Óscar Luis Nicolá...|
|ACoAABrw-WwBZJHxf...|DISTANCE_3|  Cofundadora y CFPO|              Madrid|     Genesis Martins|
|ACoAABHRoUYBybtQm...|DISTANCE_3|Full Stack Develo...|              Madrid| Ángel Bravo de Dios|
|ACoAADSiMXEBN1eVt...|DISTANCE_3|Full Stack Develo...|San Sebastián de ...|    David Ferrer Gil|
|ACoAAD5AsBUBiSZjn...|DISTANCE_3|Backend / Fullsta...|Greater Madrid Me...|  Alejandro Martinez|
|ACoAAC88QCEBGAbSc...|DISTANCE_3|Developer - JavaS...|         Majadahonda|         Pedro Conde|
|ACoAAABaQYoBA84BF...|DISTANCE_3|Senior Software E...|Greater Madrid Me...|          Leo Antoli|
|ACoAAB4l6_0BKe04b...|DISTANCE_3|Data Analyst | Py...|Greater Madrid Me...|Juan Correa Calderón|
|ACoAADNrCt8Buzp_t...|DISTANCE_3|Full Stack Develo...|              Madrid|             Lida Xu|
|ACoAADQykCcBEJtEN...|DISTANCE_3|Full stack web de...|               Spain|             Ras H.J|
|ACoAAB0rG90BYq4Hj...|DISTANCE_3|Back-end software...|              Madrid|Javier Alonso Gal...|
|ACoAAC8zOIoBDg0hz...|DISTANCE_3|Full Stack Develo...|              Madrid|Alejandro Ortiz O...|
|ACoAADfGKdABVUcnm...|DISTANCE_3|Backend developer...|              Madrid|Sergio Campos Fer...|
|ACoAACrHjnoBx-IKx...|DISTANCE_3|Full Stack Develo...|              Madrid|Carlos Roldán Cañete|
|ACoAAB3XyscBFU8F2...|DISTANCE_3|Chief Technology ...|Greater Madrid Me...|         Ayman Nehme|
|ACoAADi6LUwBiPU38...|DISTANCE_3|DATA ANALYST, SQL...|Greater Madrid Me...|Ester Fernández-P...|
+--------------------+----------+--------------------+--------------------+--------------------+
only showing top 20 rows